{% extends "base.html" %}
{% block content %}
      <!-- Page Header Start -->

<div class="carousel">
    <div class="">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="/static/images/XXL_height.webp" alt="Image">
                </div>
                <div class="carousel-text">
                    <h1>Our <span>Compyuters</span></h1>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasellus ut mollis mauris. Vivamus egestas eleifend dui ac consequat at lectus in malesuada
                    </p>
                    <div class="carousel-btn">
                        <a style="color: black; border: 1px solid white; background-color: white;" class="btn custom-btn" href="{% url 'turnir' %}">View Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Header End -->
        
  
       
        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <!-- <p>Our Compyuters</p> -->
                </div>
                <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <!-- <p>Our Compyuters</p> -->
                    <h2 style="color: white;">Our Compyuters</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/static/img/12.jfif" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Compyuter</h2>
                                <p><a href="{% url 'compyuter1' %}">For Game</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img style="height: 145px;" src="/static/img/34.jfif" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Compyuter</h2>
                                <p><a href="{% url 'compyuter2' %}">For Game</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img style="height: 147px;" src="/static/img/90.jfif" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Compyuter</h2>
                                <p><a href="{% url 'compyuter3' %}">For Game</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="/static/img/78.jfif" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Compyuter</h2>
                                <p><a href="{% url 'compyuter4' %}">For Game</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        


{% endblock %}