{% extends "base.html" %}
{% block content %}
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <!-- <p>Our Compyuters</p> -->
            <h2 style="color: white; margin-top: 65px;">Turnir</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div style="width: 750px; margin-left: 185px;" class="team-item">
                    <div class="team-img">
                        <img src="/static/images/dota.jfif" alt="">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h2 style="font-size: 50px;">DOTA 2</h2>
                        <p style="font-size: 20px;">What is a computer? A computer is a machine that can store and process information. Most computers rely on a binary system, which uses two variables, 0 and 1, to complete tasks such as storing data, calculating algorithms, and displaying information.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}